<!-- DONE BY LJUPCHO KOSTOSKI CSY23044 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myCSS.css"/>
    <style>
        #slideshow-title{
            position:relative;
            color: #2F3C7E;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            text-align: center;
            margin-top: 150px;
            padding-bottom:30px;
        }

        .slideshow{
            height:auto;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card-container{
            display:flex;
        }
        
        .cards{
            background-color:#2F3C7E;
            color:#FBEAEB;
            flex: 1;
            border-radius: 18%;
            transition: ease-in-out opacity 0.5s;
        }

        #prev{
            position: absolute;
            left:10%;
            z-index: 3;
            font-size: 200%;
            background: #2F3C7E;
            color:#FBEAEB;
            font-weight: bold;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border:none;
            transform: rotate(-90deg);
        }

        #prev:hover{
            cursor: pointer;
            background-color: #FBEAEB;
            color: #2F3C7E;
            border: solid #2F3C7E;
        }

        .card-1{
            z-index: 1;
            opacity: 50%;
            transform: translateX(50%);
        }

        .card-2{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            z-index: 2;
            transform: translateX(0);
        }

        .card-2:hover{
            transform: scale(1.1);
        }

        .card-3{
            position:relative;
            transform: translateX(-50%);
            z-index: 1;
            opacity: 50%;
        }

        #next{
            position: absolute;
            right:10%;
            z-index: 3;
            font-size: 200%;
            background: #2F3C7E;
            color:#FBEAEB;
            font-weight: bold;
            width: 64px;
            height: 64px;
            border: none;
            border-radius: 50%;
            transform: rotate(90deg);
        }

        #next:hover{
            cursor: pointer;
            background-color: #FBEAEB;
            color: #2F3C7E;
            border: solid #2F3C7E;
        }

        .card-img{
            width: 80%;
            padding: 20px;
            border-radius: 21%;
            min-width:100px;
        }

        #card-header{
            margin-top: 0px;
            text-align: left;
            padding-left: 10%;
        }

        #card-description{
            margin-top: 0px;
            text-align: center;
            font-size: x-large;
            padding: 10%;
            text-wrap: auto;
        }
        
        #adopt-button{
            text-align: center;
        }

        #adopt{
            position: relative;
            margin-top: 5%;
            background: #2F3C7E;
            font-family: "Times New Roman", Times, serif;
            border: none;
            border-radius:0px 20px 0px 20px;
            color: #FBEAEB;
            width:25%;
            font-size: 250%;
            padding:20px;
        }

        #adopt:hover{
            cursor: pointer;
            text-decoration: underline;
        }

        @media only Screen and (max-width:600px){
            .card-img{
                padding-left:10%;
            }

            #card-header{
                padding-left: 0%;
                font-size:150%;
                text-align: center;
                
            }

            #card-description{
                font-size:medium;
                padding: 5%;
            }

            #adopt{
                width:40%;
                font-size: 200%;
            }

            #next{
                right:3%;
            }

            #prev{
                left:3%;
            }
        }

        .looking{
            background-color: #FFFFFF;
            height:auto;
            width: 100%;
            margin-top: 5%;
            text-align: center;
            padding-top:50px;
            padding-bottom:50px;
        }

        .flex-container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        .split-section{
            text-align: center;
            padding: 30px;
            flex: 1;

        }

        .looking > h1{
            display: flex;
            font-size: 400%;
            color: #1E1E1E;
            opacity: 70%;
            justify-content: center;
        }

        @media only Screen and (max-width:600px){
            .flex-container{
                flex-direction: column;
            }

            .looking > h1{
                font-size: 300%;
            }
        }

        #learn{
            display: flex;
            font-size: 24px;
            padding: 20px;
            background: none;
            color:#2F3C7E;
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            border: solid #2F3C7E;
            border-width: 4px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 40px;
        }

        #learn:hover{
            background-color: #2F3C7E;
            color: #FBEAEB;
            cursor: pointer;
        }

        .information{
            padding-bottom:7%;
        }

        .flex-container-1{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 20%;
            padding-right: 20%;
        }

        .split-section-1{
            color: #2F3C7E;
            text-align: center;
            margin: auto;
            padding: 20px 30px 20px 30px;
            width: 100%;
            font-size: large;
        }

        .split-section-1 > h1{
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: x-large;
        }

        .split-section-1 > img{
            width:100%;
            min-width: 180px;
            border-radius: 20px;
        }

        @media only Screen and (max-width:600px){
            .information{
                padding-bottom:17%;
            }

            .flex-container-1{
                flex-direction: row;
                padding: 0;
            }
            
            .split-section-1{
                color: #2F3C7E;
                text-align: center;
                margin: auto;
                padding: 30px;
                font-size: 80%;
            }
            
            .split-section-1 > h1{
                font-family: "Times New Roman", Times, serif;
                font-weight: bold;
                font-size: 200%;
                width:100%;
            }
        }
    </style>
</head>
<body>
    <header>
        <h1 id="title">Pet Heaven</h1>
        <nav>
            <ul>
                <li>
                    <a><em>Home</em></a>
                </li>
                <li class="popup">
                    <a href="">Adoption</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/Adoption/Adopt">How to adopt?</a>
                        </li>
                        <li>
                            <a href="/Adoption/Shelters">Adoption Centers</a>
                        </li>
                    </ul>
                </li>
                <li class="popup">
                    <a href="/PetShop/Store">Pet Shop</a>
                </li>
                <li class="popup">
                    <a href="">Pet Info</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/PetInfo/DogInfo">Dogs</a>
                        </li>
                        <li>
                            <a href="/PetInfo/CatInfo">Cats</a>
                        </li>
                        <li>
                            <a href="/PetInfo/OtherInfo">Others</a>
                        </li>
                    </ul>
                </li>
                <li class="popup">
                    <a href="">Technical</a>
                    <ul class="dropdown">
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>Account</h1>
        <h1 id="navsmol">Nav</h1>
    </header>
    <h1 id="slideshow-title">PETS UP FOR ADOPTION</h1>
    <div class="slideshow">
        
        <button id="prev">&uarr;</button>
        <div class="card-container">
            <div class="cards card-1">
                <img src="/photos/mikeyfinal.png" alt="mikey" class="card-img">
                <content>
                    <h1 id="card-header"></h1>
                    <p id="card-description">Mikey is very cute and you must adopt him!</p>
                </content>
            </div>
            <div class="cards card-2">
                <img src="/photos/doggo1.jpg" alt="Barney" class="card-img">
                <content>
                    <h1 id="card-header">Barney, 2</h1>
                    <p id="card-description">Barney is very cute and you must adopt him!</p>
                </content>
            </div>
            <div class="cards card-3">
                <img src="/photos/pumpking.jpeg" alt="Napkin" class="card-img">
                <content>
                    <h1 id="card-header">Napkin, 3</h1>
                    <p id="card-description">Napkin is very cute and you must adopt him!</p>
                </content>
            </div>
        </div> 
        <button id="next">&uarr;</button>
    </div>
    <div id="adopt-button">
        <a href="">
            <button id="adopt">Adopt Me!</button>
        </a>
    </div>
    <section class="looking">
        <h1>LOOKING TO ADOPT A PET?</h1>
        <div class="flex-container">
            <div class="split-section">
                <img src="/photos/paw.png" alt="paw">
                <h2>FIND OUT WHICH PET SUITS YOU</h2>
                <p>Want to adopt but aren’t sure what kind of pet fits best for you? Read about the different kinds of pets you could own.</p>
                <button id="learn">LEARN MORE</button>
            </div>
            <div class="split-section">
                <img src="/photos/FAQ.png" alt="FAQ">
                <h2>CHECK OUT OUR FAQ</h2>
                <p>Have questions? Check out our FAQ section for detailed answers and helpful information.</p>
                <button id="learn">LEARN MORE</button>
            </div>
        </div>
    </section>
    <section class="information">
        <div class="flex-container-1">
            <div class="split-section-1">
                <h1>BUY TOYS FOR YOUR PET!</h1>
                <p>Already have a pet? Make your little friend happy by buying him a gift from out pet shop!</p>
            </div>
            <div class="split-section-1">
                <img src="/photos/puppy-toy.png" alt="paw">
            </div>
        </div>
        <div class="flex-container-1">
            <div class="split-section-1">
                <img src="/photos/dog-eat.png" alt="FAQ">
            </div>
            <div class="split-section-1">
                <h1>BUY FOOD FOR YOUR PET!</h1>
                <p>Take care of your little ones by choosing the best pet food tailored to their needs, ensuring they stay happy, healthy, and full of energy!</p>
            </div>
        </div>
        <button id="learn">CHECK OUT OUR PET SHOP!</button>
    </section>
    
    <footer>
        <button id="top">&uarr;</button>
        <h1>Contact Us</h1>
        <h1>About Us</h1>
    </footer>
    <script>
        const cards = document.querySelectorAll('.cards');
        let currentIndex = 0;

        document.getElementById('prev').addEventListener('click', function(){
            cards[currentIndex].remove;
        });

        const toTop = document.getElementById("top");
        toTop.addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
            console.log('clicked');
        });

        document.addEventListener('scroll', function() {
        const toTop = document.getElementById('top');
        const footer = document.querySelector('footer');
        const footerSpace = footer.getBoundingClientRect();

        if (footerSpace.top < window.innerHeight) {
            toTop.style.bottom = `11%`;
        } else {
            toTop.style.bottom = '5%';
        }
    });
    </script>
</body>
</html>